/* cartView *//* cartView *//* cartView */
/*.cartcontent{

}
.cartcontent h1{
	margin-left: 190px;
}

.cartcontent #productName{
	position: relative;
    bottom: 80px;
    left: 200px;
}

.cartcontent #price{
	position: relative;
    bottom: 50px;
    left: 120px;
}

.cartcontent #img{
	position: relative;
	left: 90px;
}

.cartcontent #img::after {
    width: 875px;
    height: 1px;
    display: inline-block;
    background-color: #7d7d7d;
    position: absolute;
    bottom: -15px;
    left: calc(50% - 55px)
}

.cartcontent #img::before {
    content: '';
    width: 875px;
    height: 1px;
    display: inline-block;
    background-color: #7d7d7d;
    position: absolute;
    bottom: 210px;
    left: calc(50% - 55px)
}

.cartcontent #numc{
	position: relative;
    top: 50px;
    left: 575px;
}

.cartcontent #del{
	position: relative;
    top: 85px;
    left: 480px;
}

.cartcontent #totalAmount{
	position: relative;
    top: 50px;
    left: 900px;
}


.cartcontent #regi{
	position: relative;
    top: 50px;
    left: 900px;
	font-weight:bold;
	border: none;
	width: 150px;
	text-align: center;
	color: #FFF;
	padding: 10px 20px;
	background: #f74542
}

.cartcontent #regi:hover{
	background: #f78180
}
*/