.top {
	margin: 0px;
	padding:0px;
}


h2 {
	float: left;
	padding: 0px;
	margin: 0px;
}

.search {
	float: left;
	margin: 0px 250px;
	padding:0px;

}

.banner {
	float: left;
	padding: 0px;
	margin: 0px;
}

.banner tr {
	margin: 50px;
	padding: 50px;
}

br {
	margin: 0px;
	padding: 0px;
}

.menu {
	width: 100%;
	float:left;
	padding: 10px 0px;
	margin: 0px;
	background-color: #C0C0C0;
}

.menu {
	margin: auto;
	width:100%;
	padding: 3px;
}

.menu a {
	margin: 50px;
	padding: 0;
}

table {
	margin-left: auto;
	margin-right: auto;
}


a {
	margin: 0px 10px;
}


