/* cafeheader *//* cafeheader *//* cafeheader */
.topcafe_header{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-weight:bold;
	border-bottom: solid 3px #99CCFF;
	padding: 0 0 5px 0;
}

.topcafe_header label {
	padding-right:10px;
	margin-top: 28px;
}

.topcafe_header h1 {
	 margin: 1px 300px;
}

.cafe_header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-weight:bold;
	border-bottom: solid 3px #99CCFF;
	padding: 0 0 5px 0;
}

.cafe_header label {
	padding-right:10px;
	margin-top: 8px;
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: absolute;
  top: 45px;
  left: 30px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}



.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 170%;
  margin-top: 75px;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
  z-index:10000
}
.menu__item {
  margin-top: -10px;
  display: block;
  padding: 10px 20px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],

input[type="password"] {
  width: 35%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 0 auto;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* cafeTop.jsp *//* cafeTop.jsp *//* cafeTop.jsp */

.wrap {
	display: flex;
	margin-top:30px;
	margin-bottom:100px;
	text-align: center;
}

.wrap p{
	width: 30%;
	padding: 10px;
    border: 2px solid;
    border-color: #99CCFF;
    margin: 0 auto;
   	margin-top:20px;
   	margin-bottom:20px;
}

.wrap a {
    text-indent: -1em;
    margin-left: 1em;
}

.wrap a:before {
    content: '○';
}

.wrap .lefttop {
	flex-grow: 1;
	line-height: 30px;
	margin-right: -200px;
	position: relative;
}

.wrap .lefttop::after{
	position: absolute; /*--positionを追加--*/
	top: 0;
	left: 88%;
	margin: 0 1rem;
	content: "";
	width: 1px; /*--縦線の太さ(幅)--*/
	height: 100%;
	background-color: #7d7d7d; /*--縦線の色--*/

}

.wrap .righttop {
	flex-grow: 1;
	line-height: 30px;
}

/* ProductCreate.jsp *//* ProductCreate.jsp *//* ProductCreate.jsp */

.productcreate{
    width: fit-content;
    margin: auto;
	margin-top:30px;;
}

.productcreate th {
    text-align: left;
    vertical-align:top;
}

.productcreate #category, textarea {
	float: right;
}
.productcreate #image {
	float: right;
}
.productcreate #sell {
	float: right;
}
.productcreate input.button {
	margin-left: 180px;
}

.productcreate  input.productName { width: 280px; height: 5px;}
.productcreate  input.price { width: 294px; height: 20px;}
.productcreate  input.count { width: 294px; height: 20px;}
.productcreate  textarea.productDetail { width: 294px; height: 100px;}

.productcreate .button { display:inline-block; }

/* ProductView.jsp *//* ProductView.jsp *//* ProductView.jsp */
.product_view1 {
	font-size: 20px;
	margin-left: 275px;
}

.product_view1 h2 {
	margin-left: 275px;
}

.product_view1 #keyword { width: 300px; height: 10px;}
.product_view1 #button { width: 70px; height: 31px;}
.product_view1 select { width: 100px; height: 30px;}

.product_view2 .productName, .price, .text-center, .productId{
    padding-top: 15px;
    padding-left: 70px;
    text-align:center
}

.product_view2 table 	{
	border-collapse:collapse
}

.product_view2 th	{
	position: relative; /* 相対指定 */
}


.product_view2 th::after { /* 議事要素を使用した横線 */
    content: '';
    width: 300px;
    height: 1px;
    display: inline-block;
    background-color: #7d7d7d;
    position: absolute;
    bottom: 0px;
    left: calc(50% - 55px)
}

/* stockView.jsp *//* stockView.jsp *//* stockView.jsp */
.stock_view1 {
	font-size: 20px;
	margin-left: 275px;
}

.stock_view1 h2 {
	margin-left: 275px;
}

.stock_view1 #keyword { width: 300px; height: 10px;}
.stock_view1 #button { width: 70px; height: 31px;}
.stock_view1 select { width: 100px; height: 30px;}

.stock_view2 #join{ width: 60px;
}
.stock_view2 #disposal{ width: 60px;
}


.stock_view2 .productName, .count, .join, .disposal, .formattedDate{
    padding-top: 15px;
    padding-left: 25px;
    text-align:center
}

.stock_view2 th	{
	position: relative; /* 相対指定 */
}

.stock_view2 th::after { /* 議事要素を使用した横線 */
    content: '';
    width: 140px;
    height: 1px;
    display: inline-block;
    background-color: #7d7d7d;
    position: absolute;
    bottom: 0px;
    left: calc(50% - 55px)
}

.stock_view2 #henkou {
	margin-top: 10px;
	margin-left: 320px;

}

/*cafeUserView.jsp*//*cafeUserView.jsp*//*cafeUserView.jsp*/
.cafeuser_view1 {
	font-size: 20px;
	margin-left: 275px;
}

.cafeuser_view1 h2 {
	margin-left: 275px;
}

.cafeuser_view1 #userName { width: 180px; height: 10px;}
.cafeuser_view1 #tel { width: 180px; height: 10px;}
.cafeuser_view1 #button { width: 70px; height: 31px;}
.cafeuser_view1 select { width: 100px; height: 30px;}

.cafeuser_view2{
	margin-left:130px;
}

.cafeuser_view2 .userId, .userName, .tel, .address, .subscription{
	font-size:20px;
    padding-top: 15px;
    padding-right:30px;
    padding-left:30px;
    text-align:center
}

.cafeuser_view2 .email{/* E-mailのみ */
	font-size:20px;
    padding-top: 15px;
    padding-right:50px;
    padding-left:50px;
    text-align:center

}

.cafeuser_view2 th	{
	position: relative; /* 相対指定 */
}

.cafeuser_view2 th::after {
    content: '';
    width: 250px;
    height: 1px;
    display: inline-block;
    background-color: #7d7d7d;
    position: absolute;
    bottom: 0px;
    right: calc(20% - 65px);
}
