.subscription-select {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.subscription-select .title {
	border-bottom: 0px;
}
.products {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	width: 100%;
	gap: 10%;
	overflow-x: auto;
}
.product .image{
    width: 160px;
}