@import "cardCreate.css";
@import "myPage.css";
@import "subscription.css";
@import "orderHistory.css";
@import "cart.css";
.all {
	display: flex;
	gap: 10%;
	margin: 5% 2.5%;
	border: 1px solid #c0c0c0;
	height: 500px;
}
.nav {
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-right: 1px solid #c0c0c0;
}
.nav .name {
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	font-weight: bold;
}
.nav .account_information,
.nav .purchase_history,
.nav .card_create {
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
}
.nav .space {
	height: 40%;
}