.all {
	display: flex;
	gap: 10%;
	margin: 5% 2.5%;
	border: 1px solid #c0c0c0;
	height: 500px;
}
.nav {
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-right: 1px solid #c0c0c0;
}
.mypage {
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.nav .name {
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	font-weight: bold;
}
.nav .account_information,
.nav .purchase_history,
.nav .card_create {
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
}
.nav .space {
	height: 40%;
}
.mypage .name,
.mypage .tel,
.mypage .address {
	height: 16%;
	width: 100%;
}
.mypage .name form label,
.mypage .tel form label,
.mypage .address form label,
.mypage .mail form label,
.mypage .pass form label,
.mypage .subscription label {
	font-weight: bold;
}
.mypage .name form,
.mypage .tel form,
.mypage .address form,
.mypage .mail form,
.mypage .pass form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.input-contener {
	display: flex;
	height: 100%;
}
.mypage .mail {
	height: 16%;
	width: 100%;
	left: 0px;
	right: 0px;
}
.mypage .pass {
	height: 16%;
	width: 100%;
	left: 0px;
	right: 0px;
}
.mypage input[type="text"],
.mypage input[type="password"] {
	width: 60%;
	height: 40px;
	border-radius: 0;
	border: 1px solid #c0c0c0;
}
.mypage input[type="submit"] {
	width: 10%;
	border-radius: 0;
	border: 1px solid #c0c0c0;
}
.mypage .subscription {
	height: 20%;
	width: 100%;
}

